
.content :where(ul) {
	list-style: disc;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding-left: 1.25rem;
}

.content :where(ol) {
	list-style: decimal;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding-left: 1.25rem;
}

.content :where(li) {
	margin-top: 0.375rem;
}

.content :where(li > strong) {
	font-weight: 600;
}

.content :where(pre) {
	white-space: pre;
	tab-size: 2;
	overflow-x: auto;
}
.content :where(code) {
	white-space: pre;
}

