loglevel=http
progress=false

# registry=https://registry.npmjs.org/
registry=https://registry.npmmirror.com

public-hoist-pattern[]=*@heroui/*
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs/
electron_mirror=https://npm.taobao.org/mirrors/electron/
chromedriver_cdnurl=https://npm.taobao.org/mirrors/chromedriver/

# pnpm 特定配置
strict-peer-dependencies=false
auto-install-peers=true
shamefully-hoist=true