.stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow:
  848px 2011px #ce93d8,
  2061px 1100px #ce93d8,
  3521px 1664px #ce93d8,
  536px 916px #ce93d8,
  996px 1649px #ce93d8,
  2943px 1723px #ce93d8,
  1647px 229px #ce93d8,
  2012px 470px #ce93d8,
  1319px 748px #ce93d8,
  2269px 597px #ce93d8,
  2094px 600px #ce93d8,
  3587px 208px #ce93d8,
  846px 1587px #ce93d8,
  2675px 376px #ce93d8,
  3699px 466px #ce93d8,
  797px 1460px #ce93d8,
  1857px 1140px #ce93d8,
  1343px 2090px #ce93d8,
  1023px 821px #ce93d8,
  1346px 623px #ce93d8,
  1099px 1505px #ce93d8,
  1935px 35px #ce93d8,
  71px 1611px #ce93d8,
  1840px 1331px #ce93d8,
  738px 1719px #ce93d8,
  119px 653px #ce93d8,
  2729px 1063px #ce93d8,
  993px 544px #ce93d8,
  1250px 99px #ce93d8,
  110px 1476px #ce93d8,
  2145px 1756px #ce93d8,
  1444px 1084px #ce93d8,
  3160px 78px #ce93d8,
  2507px 1619px #ce93d8,
  3533px 1136px #ce93d8,
  2781px 1395px #ce93d8,
  951px 457px #ce93d8,
  262px 708px #ce93d8,
  1771px 2026px #ce93d8,
  1206px 2102px #ce93d8,
  2131px 215px #ce93d8,
  1761px 296px #ce93d8,
  3380px 1962px #ce93d8,
  1457px 1956px #ce93d8,
  3259px 1125px #ce93d8,
  2276px 1330px #ce93d8,
  921px 2002px #ce93d8,
  3484px 1594px #ce93d8,
  1873px 914px #ce93d8,
  860px 787px #ce93d8,
  2647px 1297px #ce93d8,
  1871px 1030px #ce93d8,
  1699px 1170px #ce93d8,
  2689px 1135px #ce93d8,
  3396px 1376px #ce93d8,
  115px 954px #ce93d8,
  921px 843px #ce93d8,
  1840px 1535px #ce93d8,
  454px 251px #ce93d8,
  277px 1892px #ce93d8,
  426px 1811px #ce93d8,
  3537px 1709px #ce93d8,
  2421px 1088px #ce93d8,
  1833px 1018px #ce93d8,
  3139px 895px #ce93d8,
  73px 1851px #ce93d8,
  2889px 800px #ce93d8,
  264px 195px #ce93d8,
  3375px 414px #ce93d8,
  2748px 1267px #ce93d8,
  995px 1969px #ce93d8,
  1952px 391px #ce93d8,
  1496px 1225px #ce93d8,
  1841px 537px #ce93d8,
  3187px 1742px #ce93d8,
  961px 1337px #ce93d8,
  1796px 1724px #ce93d8,
  300px 2065px #ce93d8,
  1692px 1278px #ce93d8,
  1839px 107px #ce93d8,
  3323px 475px #ce93d8,
  3746px 1488px #ce93d8,
  3767px 433px #ce93d8,
  2078px 261px #ce93d8,
  3145px 1190px #ce93d8,
  3609px 817px #ce93d8,
  1584px 1375px #ce93d8,
  593px 1792px #ce93d8,
  3206px 2018px #ce93d8,
  480px 823px #ce93d8,
  3176px 841px #ce93d8,
  2670px 894px #ce93d8,
  2512px 2009px #ce93d8,
  1934px 129px #ce93d8,
  400px 873px #ce93d8,
  1378px 2010px #ce93d8,
  2762px 378px #ce93d8,
  916px 841px #ce93d8,
  3274px 70px #ce93d8,
  2734px 651px #ce93d8,
  3293px 871px #ce93d8,
  3318px 2157px #ce93d8,
  418px 1319px #ce93d8,
  1022px 311px #ce93d8,
  1625px 1365px #ce93d8,
  1519px 213px #ce93d8,
  2782px 1696px #ce93d8,
  2441px 142px #ce93d8,
  1740px 1581px #ce93d8,
  551px 378px #ce93d8,
  96px 357px #ce93d8,
  3161px 387px #ce93d8,
  2635px 665px #ce93d8,
  500px 121px #ce93d8,
  2758px 87px #ce93d8,
  944px 150px #ce93d8,
  3623px 591px #ce93d8,
  853px 1619px #ce93d8,
  3146px 1819px #ce93d8,
  3541px 750px #ce93d8,
  3702px 430px #ce93d8,
  731px 1679px #ce93d8,
  429px 2048px #ce93d8,
  1629px 361px #ce93d8,
  3143px 1553px #ce93d8,
  764px 214px #ce93d8,
  2734px 1594px #ce93d8,
  3729px 303px #ce93d8,
  3753px 1956px #ce93d8,
  3379px 1949px #ce93d8,
  758px 437px #ce93d8,
  2723px 1081px #ce93d8,
  2263px 392px #ce93d8,
  2195px 1605px #ce93d8,
  1235px 1124px #ce93d8,
  2685px 112px #ce93d8,
  879px 1734px #ce93d8,
  2699px 1530px #ce93d8,
  2508px 1188px #ce93d8,
  2525px 1765px #ce93d8,
  37px 164px #ce93d8,
  3733px 1225px #ce93d8,
  503px 1457px #ce93d8,
  27px 188px #ce93d8,
  250px 1508px #ce93d8,
  1214px 1131px #ce93d8,
  653px 1244px #ce93d8,
  3429px 127px #ce93d8,
  1611px 1635px #ce93d8,
  3086px 663px #ce93d8,
  2881px 2031px #ce93d8,
  3207px 451px #ce93d8,
  3440px 888px #ce93d8,
  1158px 97px #ce93d8,
  1954px 1291px #ce93d8,
  688px 1547px #ce93d8,
  1727px 1783px #ce93d8,
  3736px 2078px #ce93d8,
  2704px 1146px #ce93d8,
  2148px 1485px #ce93d8,
  3534px 1868px #ce93d8,
  2825px 896px #ce93d8,
  365px 1962px #ce93d8,
  2835px 313px #ce93d8,
  1058px 1980px #ce93d8,
  2444px 1699px #ce93d8,
  2368px 1268px #ce93d8,
  510px 1246px #ce93d8,
  3835px 204px #ce93d8,
  1531px 1382px #ce93d8,
  2420px 695px #ce93d8,
  2622px 1804px #ce93d8,
  2492px 1646px #ce93d8,
  2582px 303px #ce93d8,
  2904px 396px #ce93d8,
  526px 670px #ce93d8,
  1401px 1229px #ce93d8,
  842px 514px #ce93d8,
  1044px 737px #ce93d8,
  3258px 402px #ce93d8,
  1593px 1212px #ce93d8,
  1627px 968px #ce93d8,
  2234px 308px #ce93d8,
  1119px 1693px #ce93d8,
  3139px 1278px #ce93d8,
  3581px 1111px #ce93d8,
  68px 1668px #ce93d8,
  2133px 234px #ce93d8,
  3111px 1645px #ce93d8,
  1765px 2132px #ce93d8,
  121px 1992px #ce93d8,
  2005px 717px #ce93d8,
  2001px 1517px #ce93d8,
  3388px 127px #ce93d8,
  2442px 1705px #ce93d8,
  7px 40px #ce93d8,
  1267px 370px #ce93d8,
  1748px 699px #ce93d8,
  1628px 724px #ce93d8,
  790px 2097px #ce93d8,
  1545px 1972px #ce93d8,
  1475px 319px #ce93d8,
  3237px 54px #ce93d8,
  3154px 857px #ce93d8,
  1993px 1614px #ce93d8,
  2588px 299px #ce93d8,
  1283px 783px #ce93d8,
  698px 1056px #ce93d8,
  2309px 1140px #ce93d8,
  762px 1687px #ce93d8,
  1905px 2119px #ce93d8,
  2447px 1596px #ce93d8,
  1295px 1317px #ce93d8,
  2336px 2088px #ce93d8,
  2494px 903px #ce93d8,
  2949px 1770px #ce93d8,
  1649px 1948px #ce93d8,
  2779px 1114px #ce93d8,
  1584px 1357px #ce93d8,
  3469px 1071px #ce93d8,
  821px 654px #ce93d8,
  685px 66px #ce93d8,
  2836px 127px #ce93d8,
  2009px 344px #ce93d8,
  2116px 268px #ce93d8,
  1838px 854px #ce93d8,
  688px 384px #ce93d8,
  2582px 1198px #ce93d8,
  865px 665px #ce93d8,
  3278px 833px #ce93d8,
  3069px 562px #ce93d8,
  262px 925px #ce93d8,
  975px 1554px #ce93d8,
  2651px 1496px #ce93d8,
  3808px 1393px #ce93d8,
  3482px 1215px #ce93d8,
  319px 1801px #ce93d8,
  1443px 867px #ce93d8,
  2000px 1291px #ce93d8,
  2410px 1900px #ce93d8,
  1005px 22px #ce93d8,
  1057px 1408px #ce93d8,
  2027px 180px #ce93d8,
  3389px 133px #ce93d8,
  2473px 2133px #ce93d8,
  2129px 352px #ce93d8,
  1688px 579px #ce93d8,
  2425px 2117px #ce93d8,
  833px 1528px #ce93d8,
  620px 85px #ce93d8,
  588px 1271px #ce93d8,
  2566px 517px #ce93d8,
  2546px 982px #ce93d8,
  1535px 1714px #ce93d8,
  1426px 499px #ce93d8,
  2894px 378px #ce93d8,
  1213px 732px #ce93d8,
  2607px 901px #ce93d8,
  446px 1816px #ce93d8,
  890px 1745px #ce93d8,
  3576px 894px #ce93d8,
  3763px 1409px #ce93d8,
  198px 1474px #ce93d8,
  2756px 214px #ce93d8,
  1571px 814px #ce93d8,
  119px 51px #ce93d8,
  1453px 1844px #ce93d8,
  3410px 1723px #ce93d8,
  2280px 798px #ce93d8,
  1633px 973px #ce93d8,
  1891px 910px #ce93d8,
  491px 2119px #ce93d8,
  1139px 639px #ce93d8,
  1787px 1500px #ce93d8,
  1523px 1815px #ce93d8,
  299px 2041px #ce93d8,
  1133px 1825px #ce93d8,
  261px 1323px #ce93d8,
  252px 979px #ce93d8,
  203px 1805px #ce93d8,
  471px 778px #ce93d8,
  1618px 789px #ce93d8,
  466px 642px #ce93d8,
  56px 1972px #ce93d8,
  3725px 2028px #ce93d8,
  3188px 1690px #ce93d8,
  348px 1678px #ce93d8,
  1623px 958px #ce93d8,
  355px 812px #ce93d8,
  3669px 316px #ce93d8,
  317px 2082px #ce93d8,
  924px 447px #ce93d8,
  2853px 255px #ce93d8,
  1326px 2087px #ce93d8,
  131px 2157px #ce93d8,
  3627px 898px #ce93d8,
  2492px 829px #ce93d8,
  2613px 2096px #ce93d8,
  3420px 910px #ce93d8,
  3776px 184px #ce93d8;
  animation: animStar 50s linear infinite;
}

.stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow:
  848px 2011px #ce93d8,
  2061px 1100px #ce93d8,
  3521px 1664px #ce93d8,
  536px 916px #ce93d8,
  996px 1649px #ce93d8,
  2943px 1723px #ce93d8,
  1647px 229px #ce93d8,
  2012px 470px #ce93d8,
  1319px 748px #ce93d8,
  2269px 597px #ce93d8,
  2094px 600px #ce93d8,
  3587px 208px #ce93d8,
  846px 1587px #ce93d8,
  2675px 376px #ce93d8,
  3699px 466px #ce93d8,
  797px 1460px #ce93d8,
  1857px 1140px #ce93d8,
  1343px 2090px #ce93d8,
  1023px 821px #ce93d8,
  1346px 623px #ce93d8,
  1099px 1505px #ce93d8,
  1935px 35px #ce93d8,
  71px 1611px #ce93d8,
  1840px 1331px #ce93d8,
  738px 1719px #ce93d8,
  119px 653px #ce93d8,
  2729px 1063px #ce93d8,
  993px 544px #ce93d8,
  1250px 99px #ce93d8,
  110px 1476px #ce93d8,
  2145px 1756px #ce93d8,
  1444px 1084px #ce93d8,
  3160px 78px #ce93d8,
  2507px 1619px #ce93d8,
  3533px 1136px #ce93d8,
  2781px 1395px #ce93d8,
  951px 457px #ce93d8,
  262px 708px #ce93d8,
  1771px 2026px #ce93d8,
  1206px 2102px #ce93d8,
  2131px 215px #ce93d8,
  1761px 296px #ce93d8,
  3380px 1962px #ce93d8,
  1457px 1956px #ce93d8,
  3259px 1125px #ce93d8,
  2276px 1330px #ce93d8,
  921px 2002px #ce93d8,
  3484px 1594px #ce93d8,
  1873px 914px #ce93d8,
  860px 787px #ce93d8,
  2647px 1297px #ce93d8,
  1871px 1030px #ce93d8,
  1699px 1170px #ce93d8,
  2689px 1135px #ce93d8,
  3396px 1376px #ce93d8,
  115px 954px #ce93d8,
  921px 843px #ce93d8,
  1840px 1535px #ce93d8,
  454px 251px #ce93d8,
  277px 1892px #ce93d8,
  426px 1811px #ce93d8,
  3537px 1709px #ce93d8,
  2421px 1088px #ce93d8,
  1833px 1018px #ce93d8,
  3139px 895px #ce93d8,
  73px 1851px #ce93d8,
  2889px 800px #ce93d8,
  264px 195px #ce93d8,
  3375px 414px #ce93d8,
  2748px 1267px #ce93d8,
  995px 1969px #ce93d8,
  1952px 391px #ce93d8,
  1496px 1225px #ce93d8,
  1841px 537px #ce93d8,
  3187px 1742px #ce93d8,
  961px 1337px #ce93d8,
  1796px 1724px #ce93d8,
  300px 2065px #ce93d8,
  1692px 1278px #ce93d8,
  1839px 107px #ce93d8,
  3323px 475px #ce93d8,
  3746px 1488px #ce93d8,
  3767px 433px #ce93d8,
  2078px 261px #ce93d8,
  3145px 1190px #ce93d8,
  3609px 817px #ce93d8,
  1584px 1375px #ce93d8,
  593px 1792px #ce93d8,
  3206px 2018px #ce93d8,
  480px 823px #ce93d8,
  3176px 841px #ce93d8,
  2670px 894px #ce93d8,
  2512px 2009px #ce93d8,
  1934px 129px #ce93d8,
  400px 873px #ce93d8,
  1378px 2010px #ce93d8,
  2762px 378px #ce93d8,
  916px 841px #ce93d8,
  3274px 70px #ce93d8,
  2734px 651px #ce93d8,
  3293px 871px #ce93d8,
  3318px 2157px #ce93d8,
  418px 1319px #ce93d8,
  1022px 311px #ce93d8,
  1625px 1365px #ce93d8,
  1519px 213px #ce93d8,
  2782px 1696px #ce93d8,
  2441px 142px #ce93d8,
  1740px 1581px #ce93d8,
  551px 378px #ce93d8,
  96px 357px #ce93d8,
  3161px 387px #ce93d8,
  2635px 665px #ce93d8,
  500px 121px #ce93d8,
  2758px 87px #ce93d8,
  944px 150px #ce93d8,
  3623px 591px #ce93d8,
  853px 1619px #ce93d8,
  3146px 1819px #ce93d8,
  3541px 750px #ce93d8,
  3702px 430px #ce93d8,
  731px 1679px #ce93d8,
  429px 2048px #ce93d8,
  1629px 361px #ce93d8,
  3143px 1553px #ce93d8,
  764px 214px #ce93d8,
  2734px 1594px #ce93d8,
  3729px 303px #ce93d8,
  3753px 1956px #ce93d8,
  3379px 1949px #ce93d8,
  758px 437px #ce93d8,
  2723px 1081px #ce93d8,
  2263px 392px #ce93d8,
  2195px 1605px #ce93d8,
  1235px 1124px #ce93d8,
  2685px 112px #ce93d8,
  879px 1734px #ce93d8,
  2699px 1530px #ce93d8,
  2508px 1188px #ce93d8,
  2525px 1765px #ce93d8,
  37px 164px #ce93d8,
  3733px 1225px #ce93d8,
  503px 1457px #ce93d8,
  27px 188px #ce93d8,
  250px 1508px #ce93d8,
  1214px 1131px #ce93d8,
  653px 1244px #ce93d8,
  3429px 127px #ce93d8,
  1611px 1635px #ce93d8,
  3086px 663px #ce93d8,
  2881px 2031px #ce93d8,
  3207px 451px #ce93d8,
  3440px 888px #ce93d8,
  1158px 97px #ce93d8,
  1954px 1291px #ce93d8,
  688px 1547px #ce93d8,
  1727px 1783px #ce93d8,
  3736px 2078px #ce93d8,
  2704px 1146px #ce93d8,
  2148px 1485px #ce93d8,
  3534px 1868px #ce93d8,
  2825px 896px #ce93d8,
  365px 1962px #ce93d8,
  2835px 313px #ce93d8,
  1058px 1980px #ce93d8,
  2444px 1699px #ce93d8,
  2368px 1268px #ce93d8,
  510px 1246px #ce93d8,
  3835px 204px #ce93d8,
  1531px 1382px #ce93d8,
  2420px 695px #ce93d8,
  2622px 1804px #ce93d8,
  2492px 1646px #ce93d8,
  2582px 303px #ce93d8,
  2904px 396px #ce93d8,
  526px 670px #ce93d8,
  1401px 1229px #ce93d8,
  842px 514px #ce93d8,
  1044px 737px #ce93d8,
  3258px 402px #ce93d8,
  1593px 1212px #ce93d8,
  1627px 968px #ce93d8,
  2234px 308px #ce93d8,
  1119px 1693px #ce93d8,
  3139px 1278px #ce93d8,
  3581px 1111px #ce93d8,
  68px 1668px #ce93d8,
  2133px 234px #ce93d8,
  3111px 1645px #ce93d8,
  1765px 2132px #ce93d8,
  121px 1992px #ce93d8,
  2005px 717px #ce93d8,
  2001px 1517px #ce93d8,
  3388px 127px #ce93d8,
  2442px 1705px #ce93d8,
  7px 40px #ce93d8,
  1267px 370px #ce93d8,
  1748px 699px #ce93d8,
  1628px 724px #ce93d8,
  790px 2097px #ce93d8,
  1545px 1972px #ce93d8,
  1475px 319px #ce93d8,
  3237px 54px #ce93d8,
  3154px 857px #ce93d8,
  1993px 1614px #ce93d8,
  2588px 299px #ce93d8,
  1283px 783px #ce93d8,
  698px 1056px #ce93d8,
  2309px 1140px #ce93d8,
  762px 1687px #ce93d8,
  1905px 2119px #ce93d8,
  2447px 1596px #ce93d8,
  1295px 1317px #ce93d8,
  2336px 2088px #ce93d8,
  2494px 903px #ce93d8,
  2949px 1770px #ce93d8,
  1649px 1948px #ce93d8,
  2779px 1114px #ce93d8,
  1584px 1357px #ce93d8,
  3469px 1071px #ce93d8,
  821px 654px #ce93d8,
  685px 66px #ce93d8,
  2836px 127px #ce93d8,
  2009px 344px #ce93d8,
  2116px 268px #ce93d8,
  1838px 854px #ce93d8,
  688px 384px #ce93d8,
  2582px 1198px #ce93d8,
  865px 665px #ce93d8,
  3278px 833px #ce93d8,
  3069px 562px #ce93d8,
  262px 925px #ce93d8,
  975px 1554px #ce93d8,
  2651px 1496px #ce93d8,
  3808px 1393px #ce93d8,
  3482px 1215px #ce93d8,
  319px 1801px #ce93d8,
  1443px 867px #ce93d8,
  2000px 1291px #ce93d8,
  2410px 1900px #ce93d8,
  1005px 22px #ce93d8,
  1057px 1408px #ce93d8,
  2027px 180px #ce93d8,
  3389px 133px #ce93d8,
  2473px 2133px #ce93d8,
  2129px 352px #ce93d8,
  1688px 579px #ce93d8,
  2425px 2117px #ce93d8,
  833px 1528px #ce93d8,
  620px 85px #ce93d8,
  588px 1271px #ce93d8,
  2566px 517px #ce93d8,
  2546px 982px #ce93d8,
  1535px 1714px #ce93d8,
  1426px 499px #ce93d8,
  2894px 378px #ce93d8,
  1213px 732px #ce93d8,
  2607px 901px #ce93d8,
  446px 1816px #ce93d8,
  890px 1745px #ce93d8,
  3576px 894px #ce93d8,
  3763px 1409px #ce93d8,
  198px 1474px #ce93d8,
  2756px 214px #ce93d8,
  1571px 814px #ce93d8,
  119px 51px #ce93d8,
  1453px 1844px #ce93d8,
  3410px 1723px #ce93d8,
  2280px 798px #ce93d8,
  1633px 973px #ce93d8,
  1891px 910px #ce93d8,
  491px 2119px #ce93d8,
  1139px 639px #ce93d8,
  1787px 1500px #ce93d8,
  1523px 1815px #ce93d8,
  299px 2041px #ce93d8,
  1133px 1825px #ce93d8,
  261px 1323px #ce93d8,
  252px 979px #ce93d8,
  203px 1805px #ce93d8,
  471px 778px #ce93d8,
  1618px 789px #ce93d8,
  466px 642px #ce93d8,
  56px 1972px #ce93d8,
  3725px 2028px #ce93d8,
  3188px 1690px #ce93d8,
  348px 1678px #ce93d8,
  1623px 958px #ce93d8,
  355px 812px #ce93d8,
  3669px 316px #ce93d8,
  317px 2082px #ce93d8,
  924px 447px #ce93d8,
  2853px 255px #ce93d8,
  1326px 2087px #ce93d8,
  131px 2157px #ce93d8,
  3627px 898px #ce93d8,
  2492px 829px #ce93d8,
  2613px 2096px #ce93d8,
  3420px 910px #ce93d8,
  3776px 184px #ce93d8;
}

.stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow:
  848px 2011px #ce93d8,
  2061px 1100px #ce93d8,
  3521px 1664px #ce93d8,
  536px 916px #ce93d8,
  996px 1649px #ce93d8,
  2943px 1723px #ce93d8,
  1647px 229px #ce93d8,
  2012px 470px #ce93d8,
  1319px 748px #ce93d8,
  2269px 597px #ce93d8,
  2094px 600px #ce93d8,
  3587px 208px #ce93d8,
  846px 1587px #ce93d8,
  2675px 376px #ce93d8,
  3699px 466px #ce93d8,
  797px 1460px #ce93d8,
  1857px 1140px #ce93d8,
  1343px 2090px #ce93d8,
  1023px 821px #ce93d8,
  1346px 623px #ce93d8,
  1099px 1505px #ce93d8,
  1935px 35px #ce93d8,
  71px 1611px #ce93d8,
  1840px 1331px #ce93d8,
  738px 1719px #ce93d8,
  119px 653px #ce93d8,
  2729px 1063px #ce93d8,
  993px 544px #ce93d8,
  1250px 99px #ce93d8,
  110px 1476px #ce93d8,
  2145px 1756px #ce93d8,
  1444px 1084px #ce93d8,
  3160px 78px #ce93d8,
  2507px 1619px #ce93d8,
  3533px 1136px #ce93d8,
  2781px 1395px #ce93d8,
  951px 457px #ce93d8,
  262px 708px #ce93d8,
  1771px 2026px #ce93d8,
  1206px 2102px #ce93d8,
  2131px 215px #ce93d8,
  1761px 296px #ce93d8,
  3380px 1962px #ce93d8,
  1457px 1956px #ce93d8,
  3259px 1125px #ce93d8,
  2276px 1330px #ce93d8,
  921px 2002px #ce93d8,
  3484px 1594px #ce93d8,
  1873px 914px #ce93d8,
  860px 787px #ce93d8,
  2647px 1297px #ce93d8,
  1871px 1030px #ce93d8,
  1699px 1170px #ce93d8,
  2689px 1135px #ce93d8,
  3396px 1376px #ce93d8,
  115px 954px #ce93d8,
  921px 843px #ce93d8,
  1840px 1535px #ce93d8,
  454px 251px #ce93d8,
  277px 1892px #ce93d8,
  426px 1811px #ce93d8,
  3537px 1709px #ce93d8,
  2421px 1088px #ce93d8,
  1833px 1018px #ce93d8,
  3139px 895px #ce93d8,
  73px 1851px #ce93d8,
  2889px 800px #ce93d8,
  264px 195px #ce93d8,
  3375px 414px #ce93d8,
  2748px 1267px #ce93d8,
  995px 1969px #ce93d8,
  1952px 391px #ce93d8,
  1496px 1225px #ce93d8,
  1841px 537px #ce93d8,
  3187px 1742px #ce93d8,
  961px 1337px #ce93d8,
  1796px 1724px #ce93d8,
  300px 2065px #ce93d8,
  1692px 1278px #ce93d8,
  1839px 107px #ce93d8,
  3323px 475px #ce93d8,
  3746px 1488px #ce93d8,
  3767px 433px #ce93d8,
  2078px 261px #ce93d8,
  3145px 1190px #ce93d8,
  3609px 817px #ce93d8,
  1584px 1375px #ce93d8,
  593px 1792px #ce93d8,
  3206px 2018px #ce93d8,
  480px 823px #ce93d8,
  3176px 841px #ce93d8,
  2670px 894px #ce93d8,
  2512px 2009px #ce93d8,
  1934px 129px #ce93d8,
  400px 873px #ce93d8,
  1378px 2010px #ce93d8,
  2762px 378px #ce93d8,
  916px 841px #ce93d8,
  3274px 70px #ce93d8,
  2734px 651px #ce93d8,
  3293px 871px #ce93d8,
  3318px 2157px #ce93d8,
  418px 1319px #ce93d8,
  1022px 311px #ce93d8,
  1625px 1365px #ce93d8,
  1519px 213px #ce93d8,
  2782px 1696px #ce93d8,
  2441px 142px #ce93d8,
  1740px 1581px #ce93d8,
  551px 378px #ce93d8,
  96px 357px #ce93d8,
  3161px 387px #ce93d8,
  2635px 665px #ce93d8,
  500px 121px #ce93d8,
  2758px 87px #ce93d8,
  944px 150px #ce93d8,
  3623px 591px #ce93d8,
  853px 1619px #ce93d8,
  3146px 1819px #ce93d8,
  3541px 750px #ce93d8,
  3702px 430px #ce93d8,
  731px 1679px #ce93d8,
  429px 2048px #ce93d8,
  1629px 361px #ce93d8,
  3143px 1553px #ce93d8,
  764px 214px #ce93d8,
  2734px 1594px #ce93d8,
  3729px 303px #ce93d8,
  3753px 1956px #ce93d8,
  3379px 1949px #ce93d8,
  758px 437px #ce93d8,
  2723px 1081px #ce93d8,
  2263px 392px #ce93d8,
  2195px 1605px #ce93d8,
  1235px 1124px #ce93d8,
  2685px 112px #ce93d8,
  879px 1734px #ce93d8,
  2699px 1530px #ce93d8,
  2508px 1188px #ce93d8,
  2525px 1765px #ce93d8,
  37px 164px #ce93d8,
  3733px 1225px #ce93d8,
  503px 1457px #ce93d8,
  27px 188px #ce93d8,
  250px 1508px #ce93d8,
  1214px 1131px #ce93d8,
  653px 1244px #ce93d8,
  3429px 127px #ce93d8,
  1611px 1635px #ce93d8,
  3086px 663px #ce93d8,
  2881px 2031px #ce93d8,
  3207px 451px #ce93d8,
  3440px 888px #ce93d8,
  1158px 97px #ce93d8,
  1954px 1291px #ce93d8,
  688px 1547px #ce93d8,
  1727px 1783px #ce93d8,
  3736px 2078px #ce93d8,
  2704px 1146px #ce93d8,
  2148px 1485px #ce93d8,
  3534px 1868px #ce93d8,
  2825px 896px #ce93d8,
  365px 1962px #ce93d8,
  2835px 313px #ce93d8,
  1058px 1980px #ce93d8,
  2444px 1699px #ce93d8,
  2368px 1268px #ce93d8,
  510px 1246px #ce93d8,
  3835px 204px #ce93d8,
  1531px 1382px #ce93d8,
  2420px 695px #ce93d8,
  2622px 1804px #ce93d8,
  2492px 1646px #ce93d8,
  2582px 303px #ce93d8,
  2904px 396px #ce93d8,
  526px 670px #ce93d8,
  1401px 1229px #ce93d8,
  842px 514px #ce93d8,
  1044px 737px #ce93d8,
  3258px 402px #ce93d8,
  1593px 1212px #ce93d8,
  1627px 968px #ce93d8,
  2234px 308px #ce93d8,
  1119px 1693px #ce93d8,
  3139px 1278px #ce93d8,
  3581px 1111px #ce93d8,
  68px 1668px #ce93d8,
  2133px 234px #ce93d8,
  3111px 1645px #ce93d8,
  1765px 2132px #ce93d8,
  121px 1992px #ce93d8,
  2005px 717px #ce93d8,
  2001px 1517px #ce93d8,
  3388px 127px #ce93d8,
  2442px 1705px #ce93d8,
  7px 40px #ce93d8,
  1267px 370px #ce93d8,
  1748px 699px #ce93d8,
  1628px 724px #ce93d8,
  790px 2097px #ce93d8,
  1545px 1972px #ce93d8,
  1475px 319px #ce93d8,
  3237px 54px #ce93d8,
  3154px 857px #ce93d8,
  1993px 1614px #ce93d8,
  2588px 299px #ce93d8,
  1283px 783px #ce93d8,
  698px 1056px #ce93d8,
  2309px 1140px #ce93d8,
  762px 1687px #ce93d8,
  1905px 2119px #ce93d8,
  2447px 1596px #ce93d8,
  1295px 1317px #ce93d8,
  2336px 2088px #ce93d8,
  2494px 903px #ce93d8,
  2949px 1770px #ce93d8,
  1649px 1948px #ce93d8,
  2779px 1114px #ce93d8,
  1584px 1357px #ce93d8,
  3469px 1071px #ce93d8,
  821px 654px #ce93d8,
  685px 66px #ce93d8,
  2836px 127px #ce93d8,
  2009px 344px #ce93d8,
  2116px 268px #ce93d8,
  1838px 854px #ce93d8,
  688px 384px #ce93d8,
  2582px 1198px #ce93d8,
  865px 665px #ce93d8,
  3278px 833px #ce93d8,
  3069px 562px #ce93d8,
  262px 925px #ce93d8,
  975px 1554px #ce93d8,
  2651px 1496px #ce93d8,
  3808px 1393px #ce93d8,
  3482px 1215px #ce93d8,
  319px 1801px #ce93d8,
  1443px 867px #ce93d8,
  2000px 1291px #ce93d8,
  2410px 1900px #ce93d8,
  1005px 22px #ce93d8,
  1057px 1408px #ce93d8,
  2027px 180px #ce93d8,
  3389px 133px #ce93d8,
  2473px 2133px #ce93d8,
  2129px 352px #ce93d8,
  1688px 579px #ce93d8,
  2425px 2117px #ce93d8,
  833px 1528px #ce93d8,
  620px 85px #ce93d8,
  588px 1271px #ce93d8,
  2566px 517px #ce93d8,
  2546px 982px #ce93d8,
  1535px 1714px #ce93d8,
  1426px 499px #ce93d8,
  2894px 378px #ce93d8,
  1213px 732px #ce93d8,
  2607px 901px #ce93d8,
  446px 1816px #ce93d8,
  890px 1745px #ce93d8,
  3576px 894px #ce93d8,
  3763px 1409px #ce93d8,
  198px 1474px #ce93d8,
  2756px 214px #ce93d8,
  1571px 814px #ce93d8,
  119px 51px #ce93d8,
  1453px 1844px #ce93d8,
  3410px 1723px #ce93d8,
  2280px 798px #ce93d8,
  1633px 973px #ce93d8,
  1891px 910px #ce93d8,
  491px 2119px #ce93d8,
  1139px 639px #ce93d8,
  1787px 1500px #ce93d8,
  1523px 1815px #ce93d8,
  299px 2041px #ce93d8,
  1133px 1825px #ce93d8,
  261px 1323px #ce93d8,
  252px 979px #ce93d8,
  203px 1805px #ce93d8,
  471px 778px #ce93d8,
  1618px 789px #ce93d8,
  466px 642px #ce93d8,
  56px 1972px #ce93d8,
  3725px 2028px #ce93d8,
  3188px 1690px #ce93d8,
  348px 1678px #ce93d8,
  1623px 958px #ce93d8,
  355px 812px #ce93d8,
  3669px 316px #ce93d8,
  317px 2082px #ce93d8,
  924px 447px #ce93d8,
  2853px 255px #ce93d8,
  1326px 2087px #ce93d8,
  131px 2157px #ce93d8,
  3627px 898px #ce93d8,
  2492px 829px #ce93d8,
  2613px 2096px #ce93d8,
  3420px 910px #ce93d8,
  3776px 184px #ce93d8;
  animation: animStar 100s linear infinite;
}

.stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow:
  848px 2011px #ce93d8,
  2061px 1100px #ce93d8,
  3521px 1664px #ce93d8,
  536px 916px #ce93d8,
  996px 1649px #ce93d8,
  2943px 1723px #ce93d8,
  1647px 229px #ce93d8,
  2012px 470px #ce93d8,
  1319px 748px #ce93d8,
  2269px 597px #ce93d8,
  2094px 600px #ce93d8,
  3587px 208px #ce93d8,
  846px 1587px #ce93d8,
  2675px 376px #ce93d8,
  3699px 466px #ce93d8,
  797px 1460px #ce93d8,
  1857px 1140px #ce93d8,
  1343px 2090px #ce93d8,
  1023px 821px #ce93d8,
  1346px 623px #ce93d8,
  1099px 1505px #ce93d8,
  1935px 35px #ce93d8,
  71px 1611px #ce93d8,
  1840px 1331px #ce93d8,
  738px 1719px #ce93d8,
  119px 653px #ce93d8,
  2729px 1063px #ce93d8,
  993px 544px #ce93d8,
  1250px 99px #ce93d8,
  110px 1476px #ce93d8,
  2145px 1756px #ce93d8,
  1444px 1084px #ce93d8,
  3160px 78px #ce93d8,
  2507px 1619px #ce93d8,
  3533px 1136px #ce93d8,
  2781px 1395px #ce93d8,
  951px 457px #ce93d8,
  262px 708px #ce93d8,
  1771px 2026px #ce93d8,
  1206px 2102px #ce93d8,
  2131px 215px #ce93d8,
  1761px 296px #ce93d8,
  3380px 1962px #ce93d8,
  1457px 1956px #ce93d8,
  3259px 1125px #ce93d8,
  2276px 1330px #ce93d8,
  921px 2002px #ce93d8,
  3484px 1594px #ce93d8,
  1873px 914px #ce93d8,
  860px 787px #ce93d8,
  2647px 1297px #ce93d8,
  1871px 1030px #ce93d8,
  1699px 1170px #ce93d8,
  2689px 1135px #ce93d8,
  3396px 1376px #ce93d8,
  115px 954px #ce93d8,
  921px 843px #ce93d8,
  1840px 1535px #ce93d8,
  454px 251px #ce93d8,
  277px 1892px #ce93d8,
  426px 1811px #ce93d8,
  3537px 1709px #ce93d8,
  2421px 1088px #ce93d8,
  1833px 1018px #ce93d8,
  3139px 895px #ce93d8,
  73px 1851px #ce93d8,
  2889px 800px #ce93d8,
  264px 195px #ce93d8,
  3375px 414px #ce93d8,
  2748px 1267px #ce93d8,
  995px 1969px #ce93d8,
  1952px 391px #ce93d8,
  1496px 1225px #ce93d8,
  1841px 537px #ce93d8,
  3187px 1742px #ce93d8,
  961px 1337px #ce93d8,
  1796px 1724px #ce93d8,
  300px 2065px #ce93d8,
  1692px 1278px #ce93d8,
  1839px 107px #ce93d8,
  3323px 475px #ce93d8,
  3746px 1488px #ce93d8,
  3767px 433px #ce93d8,
  2078px 261px #ce93d8,
  3145px 1190px #ce93d8,
  3609px 817px #ce93d8,
  1584px 1375px #ce93d8,
  593px 1792px #ce93d8,
  3206px 2018px #ce93d8,
  480px 823px #ce93d8,
  3176px 841px #ce93d8,
  2670px 894px #ce93d8,
  2512px 2009px #ce93d8,
  1934px 129px #ce93d8,
  400px 873px #ce93d8,
  1378px 2010px #ce93d8,
  2762px 378px #ce93d8,
  916px 841px #ce93d8,
  3274px 70px #ce93d8,
  2734px 651px #ce93d8,
  3293px 871px #ce93d8,
  3318px 2157px #ce93d8,
  418px 1319px #ce93d8,
  1022px 311px #ce93d8,
  1625px 1365px #ce93d8,
  1519px 213px #ce93d8,
  2782px 1696px #ce93d8,
  2441px 142px #ce93d8,
  1740px 1581px #ce93d8,
  551px 378px #ce93d8,
  96px 357px #ce93d8,
  3161px 387px #ce93d8,
  2635px 665px #ce93d8,
  500px 121px #ce93d8,
  2758px 87px #ce93d8,
  944px 150px #ce93d8,
  3623px 591px #ce93d8,
  853px 1619px #ce93d8,
  3146px 1819px #ce93d8,
  3541px 750px #ce93d8,
  3702px 430px #ce93d8,
  731px 1679px #ce93d8,
  429px 2048px #ce93d8,
  1629px 361px #ce93d8,
  3143px 1553px #ce93d8,
  764px 214px #ce93d8,
  2734px 1594px #ce93d8,
  3729px 303px #ce93d8,
  3753px 1956px #ce93d8,
  3379px 1949px #ce93d8,
  758px 437px #ce93d8,
  2723px 1081px #ce93d8,
  2263px 392px #ce93d8,
  2195px 1605px #ce93d8,
  1235px 1124px #ce93d8,
  2685px 112px #ce93d8,
  879px 1734px #ce93d8,
  2699px 1530px #ce93d8,
  2508px 1188px #ce93d8,
  2525px 1765px #ce93d8,
  37px 164px #ce93d8,
  3733px 1225px #ce93d8,
  503px 1457px #ce93d8,
  27px 188px #ce93d8,
  250px 1508px #ce93d8,
  1214px 1131px #ce93d8,
  653px 1244px #ce93d8,
  3429px 127px #ce93d8,
  1611px 1635px #ce93d8,
  3086px 663px #ce93d8,
  2881px 2031px #ce93d8,
  3207px 451px #ce93d8,
  3440px 888px #ce93d8,
  1158px 97px #ce93d8,
  1954px 1291px #ce93d8,
  688px 1547px #ce93d8,
  1727px 1783px #ce93d8,
  3736px 2078px #ce93d8,
  2704px 1146px #ce93d8,
  2148px 1485px #ce93d8,
  3534px 1868px #ce93d8,
  2825px 896px #ce93d8,
  365px 1962px #ce93d8,
  2835px 313px #ce93d8,
  1058px 1980px #ce93d8,
  2444px 1699px #ce93d8,
  2368px 1268px #ce93d8,
  510px 1246px #ce93d8,
  3835px 204px #ce93d8,
  1531px 1382px #ce93d8,
  2420px 695px #ce93d8,
  2622px 1804px #ce93d8,
  2492px 1646px #ce93d8,
  2582px 303px #ce93d8,
  2904px 396px #ce93d8,
  526px 670px #ce93d8,
  1401px 1229px #ce93d8,
  842px 514px #ce93d8,
  1044px 737px #ce93d8,
  3258px 402px #ce93d8,
  1593px 1212px #ce93d8,
  1627px 968px #ce93d8,
  2234px 308px #ce93d8,
  1119px 1693px #ce93d8,
  3139px 1278px #ce93d8,
  3581px 1111px #ce93d8,
  68px 1668px #ce93d8,
  2133px 234px #ce93d8,
  3111px 1645px #ce93d8,
  1765px 2132px #ce93d8,
  121px 1992px #ce93d8,
  2005px 717px #ce93d8,
  2001px 1517px #ce93d8,
  3388px 127px #ce93d8,
  2442px 1705px #ce93d8,
  7px 40px #ce93d8,
  1267px 370px #ce93d8,
  1748px 699px #ce93d8,
  1628px 724px #ce93d8,
  790px 2097px #ce93d8,
  1545px 1972px #ce93d8,
  1475px 319px #ce93d8,
  3237px 54px #ce93d8,
  3154px 857px #ce93d8,
  1993px 1614px #ce93d8,
  2588px 299px #ce93d8,
  1283px 783px #ce93d8,
  698px 1056px #ce93d8,
  2309px 1140px #ce93d8,
  762px 1687px #ce93d8,
  1905px 2119px #ce93d8,
  2447px 1596px #ce93d8,
  1295px 1317px #ce93d8,
  2336px 2088px #ce93d8,
  2494px 903px #ce93d8,
  2949px 1770px #ce93d8,
  1649px 1948px #ce93d8,
  2779px 1114px #ce93d8,
  1584px 1357px #ce93d8,
  3469px 1071px #ce93d8,
  821px 654px #ce93d8,
  685px 66px #ce93d8,
  2836px 127px #ce93d8,
  2009px 344px #ce93d8,
  2116px 268px #ce93d8,
  1838px 854px #ce93d8,
  688px 384px #ce93d8,
  2582px 1198px #ce93d8,
  865px 665px #ce93d8,
  3278px 833px #ce93d8,
  3069px 562px #ce93d8,
  262px 925px #ce93d8,
  975px 1554px #ce93d8,
  2651px 1496px #ce93d8,
  3808px 1393px #ce93d8,
  3482px 1215px #ce93d8,
  319px 1801px #ce93d8,
  1443px 867px #ce93d8,
  2000px 1291px #ce93d8,
  2410px 1900px #ce93d8,
  1005px 22px #ce93d8,
  1057px 1408px #ce93d8,
  2027px 180px #ce93d8,
  3389px 133px #ce93d8,
  2473px 2133px #ce93d8,
  2129px 352px #ce93d8,
  1688px 579px #ce93d8,
  2425px 2117px #ce93d8,
  833px 1528px #ce93d8,
  620px 85px #ce93d8,
  588px 1271px #ce93d8,
  2566px 517px #ce93d8,
  2546px 982px #ce93d8,
  1535px 1714px #ce93d8,
  1426px 499px #ce93d8,
  2894px 378px #ce93d8,
  1213px 732px #ce93d8,
  2607px 901px #ce93d8,
  446px 1816px #ce93d8,
  890px 1745px #ce93d8,
  3576px 894px #ce93d8,
  3763px 1409px #ce93d8,
  198px 1474px #ce93d8,
  2756px 214px #ce93d8,
  1571px 814px #ce93d8,
  119px 51px #ce93d8,
  1453px 1844px #ce93d8,
  3410px 1723px #ce93d8,
  2280px 798px #ce93d8,
  1633px 973px #ce93d8,
  1891px 910px #ce93d8,
  491px 2119px #ce93d8,
  1139px 639px #ce93d8,
  1787px 1500px #ce93d8,
  1523px 1815px #ce93d8,
  299px 2041px #ce93d8,
  1133px 1825px #ce93d8,
  261px 1323px #ce93d8,
  252px 979px #ce93d8,
  203px 1805px #ce93d8,
  471px 778px #ce93d8,
  1618px 789px #ce93d8,
  466px 642px #ce93d8,
  56px 1972px #ce93d8,
  3725px 2028px #ce93d8,
  3188px 1690px #ce93d8,
  348px 1678px #ce93d8,
  1623px 958px #ce93d8,
  355px 812px #ce93d8,
  3669px 316px #ce93d8,
  317px 2082px #ce93d8,
  924px 447px #ce93d8,
  2853px 255px #ce93d8,
  1326px 2087px #ce93d8,
  131px 2157px #ce93d8,
  3627px 898px #ce93d8,
  2492px 829px #ce93d8,
  2613px 2096px #ce93d8,
  3420px 910px #ce93d8,
  3776px 184px #ce93d8;
}

.stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow:
  848px 2011px #ce93d8,
  2061px 1100px #ce93d8,
  3521px 1664px #ce93d8,
  536px 916px #ce93d8,
  996px 1649px #ce93d8,
  2943px 1723px #ce93d8,
  1647px 229px #ce93d8,
  2012px 470px #ce93d8,
  1319px 748px #ce93d8,
  2269px 597px #ce93d8,
  2094px 600px #ce93d8,
  3587px 208px #ce93d8,
  846px 1587px #ce93d8,
  2675px 376px #ce93d8,
  3699px 466px #ce93d8,
  797px 1460px #ce93d8,
  1857px 1140px #ce93d8,
  1343px 2090px #ce93d8,
  1023px 821px #ce93d8,
  1346px 623px #ce93d8,
  1099px 1505px #ce93d8,
  1935px 35px #ce93d8,
  71px 1611px #ce93d8,
  1840px 1331px #ce93d8,
  738px 1719px #ce93d8,
  119px 653px #ce93d8,
  2729px 1063px #ce93d8,
  993px 544px #ce93d8,
  1250px 99px #ce93d8,
  110px 1476px #ce93d8,
  2145px 1756px #ce93d8,
  1444px 1084px #ce93d8,
  3160px 78px #ce93d8,
  2507px 1619px #ce93d8,
  3533px 1136px #ce93d8,
  2781px 1395px #ce93d8,
  951px 457px #ce93d8,
  262px 708px #ce93d8,
  1771px 2026px #ce93d8,
  1206px 2102px #ce93d8,
  2131px 215px #ce93d8,
  1761px 296px #ce93d8,
  3380px 1962px #ce93d8,
  1457px 1956px #ce93d8,
  3259px 1125px #ce93d8,
  2276px 1330px #ce93d8,
  921px 2002px #ce93d8,
  3484px 1594px #ce93d8,
  1873px 914px #ce93d8,
  860px 787px #ce93d8,
  2647px 1297px #ce93d8,
  1871px 1030px #ce93d8,
  1699px 1170px #ce93d8,
  2689px 1135px #ce93d8,
  3396px 1376px #ce93d8,
  115px 954px #ce93d8,
  921px 843px #ce93d8,
  1840px 1535px #ce93d8,
  454px 251px #ce93d8,
  277px 1892px #ce93d8,
  426px 1811px #ce93d8,
  3537px 1709px #ce93d8,
  2421px 1088px #ce93d8,
  1833px 1018px #ce93d8,
  3139px 895px #ce93d8,
  73px 1851px #ce93d8,
  2889px 800px #ce93d8,
  264px 195px #ce93d8,
  3375px 414px #ce93d8,
  2748px 1267px #ce93d8,
  995px 1969px #ce93d8,
  1952px 391px #ce93d8,
  1496px 1225px #ce93d8,
  1841px 537px #ce93d8,
  3187px 1742px #ce93d8,
  961px 1337px #ce93d8,
  1796px 1724px #ce93d8,
  300px 2065px #ce93d8,
  1692px 1278px #ce93d8,
  1839px 107px #ce93d8,
  3323px 475px #ce93d8,
  3746px 1488px #ce93d8,
  3767px 433px #ce93d8,
  2078px 261px #ce93d8,
  3145px 1190px #ce93d8,
  3609px 817px #ce93d8,
  1584px 1375px #ce93d8,
  593px 1792px #ce93d8,
  3206px 2018px #ce93d8,
  480px 823px #ce93d8,
  3176px 841px #ce93d8,
  2670px 894px #ce93d8,
  2512px 2009px #ce93d8,
  1934px 129px #ce93d8,
  400px 873px #ce93d8,
  1378px 2010px #ce93d8,
  2762px 378px #ce93d8,
  916px 841px #ce93d8,
  3274px 70px #ce93d8,
  2734px 651px #ce93d8,
  3293px 871px #ce93d8,
  3318px 2157px #ce93d8,
  418px 1319px #ce93d8,
  1022px 311px #ce93d8,
  1625px 1365px #ce93d8,
  1519px 213px #ce93d8,
  2782px 1696px #ce93d8,
  2441px 142px #ce93d8,
  1740px 1581px #ce93d8,
  551px 378px #ce93d8,
  96px 357px #ce93d8,
  3161px 387px #ce93d8,
  2635px 665px #ce93d8,
  500px 121px #ce93d8,
  2758px 87px #ce93d8,
  944px 150px #ce93d8,
  3623px 591px #ce93d8,
  853px 1619px #ce93d8,
  3146px 1819px #ce93d8,
  3541px 750px #ce93d8,
  3702px 430px #ce93d8,
  731px 1679px #ce93d8,
  429px 2048px #ce93d8,
  1629px 361px #ce93d8,
  3143px 1553px #ce93d8,
  764px 214px #ce93d8,
  2734px 1594px #ce93d8,
  3729px 303px #ce93d8,
  3753px 1956px #ce93d8,
  3379px 1949px #ce93d8,
  758px 437px #ce93d8,
  2723px 1081px #ce93d8,
  2263px 392px #ce93d8,
  2195px 1605px #ce93d8,
  1235px 1124px #ce93d8,
  2685px 112px #ce93d8,
  879px 1734px #ce93d8,
  2699px 1530px #ce93d8,
  2508px 1188px #ce93d8,
  2525px 1765px #ce93d8,
  37px 164px #ce93d8,
  3733px 1225px #ce93d8,
  503px 1457px #ce93d8,
  27px 188px #ce93d8,
  250px 1508px #ce93d8,
  1214px 1131px #ce93d8,
  653px 1244px #ce93d8,
  3429px 127px #ce93d8,
  1611px 1635px #ce93d8,
  3086px 663px #ce93d8,
  2881px 2031px #ce93d8,
  3207px 451px #ce93d8,
  3440px 888px #ce93d8,
  1158px 97px #ce93d8,
  1954px 1291px #ce93d8,
  688px 1547px #ce93d8,
  1727px 1783px #ce93d8,
  3736px 2078px #ce93d8,
  2704px 1146px #ce93d8,
  2148px 1485px #ce93d8,
  3534px 1868px #ce93d8,
  2825px 896px #ce93d8,
  365px 1962px #ce93d8,
  2835px 313px #ce93d8,
  1058px 1980px #ce93d8,
  2444px 1699px #ce93d8,
  2368px 1268px #ce93d8,
  510px 1246px #ce93d8,
  3835px 204px #ce93d8,
  1531px 1382px #ce93d8,
  2420px 695px #ce93d8,
  2622px 1804px #ce93d8,
  2492px 1646px #ce93d8,
  2582px 303px #ce93d8,
  2904px 396px #ce93d8,
  526px 670px #ce93d8,
  1401px 1229px #ce93d8,
  842px 514px #ce93d8,
  1044px 737px #ce93d8,
  3258px 402px #ce93d8,
  1593px 1212px #ce93d8,
  1627px 968px #ce93d8,
  2234px 308px #ce93d8,
  1119px 1693px #ce93d8,
  3139px 1278px #ce93d8,
  3581px 1111px #ce93d8,
  68px 1668px #ce93d8,
  2133px 234px #ce93d8,
  3111px 1645px #ce93d8,
  1765px 2132px #ce93d8,
  121px 1992px #ce93d8,
  2005px 717px #ce93d8,
  2001px 1517px #ce93d8,
  3388px 127px #ce93d8,
  2442px 1705px #ce93d8,
  7px 40px #ce93d8,
  1267px 370px #ce93d8,
  1748px 699px #ce93d8,
  1628px 724px #ce93d8,
  790px 2097px #ce93d8,
  1545px 1972px #ce93d8,
  1475px 319px #ce93d8,
  3237px 54px #ce93d8,
  3154px 857px #ce93d8,
  1993px 1614px #ce93d8,
  2588px 299px #ce93d8,
  1283px 783px #ce93d8,
  698px 1056px #ce93d8,
  2309px 1140px #ce93d8,
  762px 1687px #ce93d8,
  1905px 2119px #ce93d8,
  2447px 1596px #ce93d8,
  1295px 1317px #ce93d8,
  2336px 2088px #ce93d8,
  2494px 903px #ce93d8,
  2949px 1770px #ce93d8,
  1649px 1948px #ce93d8,
  2779px 1114px #ce93d8,
  1584px 1357px #ce93d8,
  3469px 1071px #ce93d8,
  821px 654px #ce93d8,
  685px 66px #ce93d8,
  2836px 127px #ce93d8,
  2009px 344px #ce93d8,
  2116px 268px #ce93d8,
  1838px 854px #ce93d8,
  688px 384px #ce93d8,
  2582px 1198px #ce93d8,
  865px 665px #ce93d8,
  3278px 833px #ce93d8,
  3069px 562px #ce93d8,
  262px 925px #ce93d8,
  975px 1554px #ce93d8,
  2651px 1496px #ce93d8,
  3808px 1393px #ce93d8,
  3482px 1215px #ce93d8,
  319px 1801px #ce93d8,
  1443px 867px #ce93d8,
  2000px 1291px #ce93d8,
  2410px 1900px #ce93d8,
  1005px 22px #ce93d8,
  1057px 1408px #ce93d8,
  2027px 180px #ce93d8,
  3389px 133px #ce93d8,
  2473px 2133px #ce93d8,
  2129px 352px #ce93d8,
  1688px 579px #ce93d8,
  2425px 2117px #ce93d8,
  833px 1528px #ce93d8,
  620px 85px #ce93d8,
  588px 1271px #ce93d8,
  2566px 517px #ce93d8,
  2546px 982px #ce93d8,
  1535px 1714px #ce93d8,
  1426px 499px #ce93d8,
  2894px 378px #ce93d8,
  1213px 732px #ce93d8,
  2607px 901px #ce93d8,
  446px 1816px #ce93d8,
  890px 1745px #ce93d8,
  3576px 894px #ce93d8,
  3763px 1409px #ce93d8,
  198px 1474px #ce93d8,
  2756px 214px #ce93d8,
  1571px 814px #ce93d8,
  119px 51px #ce93d8,
  1453px 1844px #ce93d8,
  3410px 1723px #ce93d8,
  2280px 798px #ce93d8,
  1633px 973px #ce93d8,
  1891px 910px #ce93d8,
  491px 2119px #ce93d8,
  1139px 639px #ce93d8,
  1787px 1500px #ce93d8,
  1523px 1815px #ce93d8,
  299px 2041px #ce93d8,
  1133px 1825px #ce93d8,
  261px 1323px #ce93d8,
  252px 979px #ce93d8,
  203px 1805px #ce93d8,
  471px 778px #ce93d8,
  1618px 789px #ce93d8,
  466px 642px #ce93d8,
  56px 1972px #ce93d8,
  3725px 2028px #ce93d8,
  3188px 1690px #ce93d8,
  348px 1678px #ce93d8,
  1623px 958px #ce93d8,
  355px 812px #ce93d8,
  3669px 316px #ce93d8,
  317px 2082px #ce93d8,
  924px 447px #ce93d8,
  2853px 255px #ce93d8,
  1326px 2087px #ce93d8,
  131px 2157px #ce93d8,
  3627px 898px #ce93d8,
  2492px 829px #ce93d8,
  2613px 2096px #ce93d8,
  3420px 910px #ce93d8,
  3776px 184px #ce93d8;
  animation: animStar 150s linear infinite;
}

.stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow:
    940px 1360px #ce93d8,
    848px 2011px #ce93d8,
    2061px 1100px #ce93d8,
    3521px 1664px #ce93d8,
    536px 916px #ce93d8,
    996px 1649px #ce93d8,
    2943px 1723px #ce93d8,
    1647px 229px #ce93d8,
    2012px 470px #ce93d8,
    1319px 748px #ce93d8,
    2269px 597px #ce93d8,
    2094px 600px #ce93d8,
    3587px 208px #ce93d8,
    846px 1587px #ce93d8,
    2675px 376px #ce93d8,
    3699px 466px #ce93d8,
    797px 1460px #ce93d8,
    1857px 1140px #ce93d8,
    1343px 2090px #ce93d8,
    1023px 821px #ce93d8,
    1346px 623px #ce93d8,
    1099px 1505px #ce93d8,
    1935px 35px #ce93d8,
    71px 1611px #ce93d8,
    1840px 1331px #ce93d8,
    738px 1719px #ce93d8,
    119px 653px #ce93d8,
    2729px 1063px #ce93d8,
    993px 544px #ce93d8,
    1250px 99px #ce93d8,
    110px 1476px #ce93d8,
    2145px 1756px #ce93d8,
    1444px 1084px #ce93d8,
    3160px 78px #ce93d8,
    2507px 1619px #ce93d8,
    3533px 1136px #ce93d8,
    2781px 1395px #ce93d8,
    951px 457px #ce93d8,
    262px 708px #ce93d8,
    1771px 2026px #ce93d8,
    1206px 2102px #ce93d8,
    2131px 215px #ce93d8,
    1761px 296px #ce93d8,
    3380px 1962px #ce93d8,
    1457px 1956px #ce93d8,
    3259px 1125px #ce93d8,
    2276px 1330px #ce93d8,
    921px 2002px #ce93d8,
    3484px 1594px #ce93d8,
    1873px 914px #ce93d8,
    860px 787px #ce93d8,
    2647px 1297px #ce93d8,
    1871px 1030px #ce93d8,
    1699px 1170px #ce93d8,
    2689px 1135px #ce93d8,
    3396px 1376px #ce93d8,
    115px 954px #ce93d8,
    921px 843px #ce93d8,
    1840px 1535px #ce93d8,
    454px 251px #ce93d8,
    277px 1892px #ce93d8,
    426px 1811px #ce93d8,
    3537px 1709px #ce93d8,
    2421px 1088px #ce93d8,
    1833px 1018px #ce93d8,
    3139px 895px #ce93d8,
    73px 1851px #ce93d8,
    2889px 800px #ce93d8,
    264px 195px #ce93d8,
    3375px 414px #ce93d8,
    2748px 1267px #ce93d8,
    995px 1969px #ce93d8,
    1952px 391px #ce93d8,
    1496px 1225px #ce93d8,
    1841px 537px #ce93d8,
    3187px 1742px #ce93d8,
    961px 1337px #ce93d8,
    1796px 1724px #ce93d8,
    300px 2065px #ce93d8,
    1692px 1278px #ce93d8,
    1839px 107px #ce93d8,
    3323px 475px #ce93d8,
    3746px 1488px #ce93d8,
    3767px 433px #ce93d8,
    2078px 261px #ce93d8,
    3145px 1190px #ce93d8,
    3609px 817px #ce93d8,
    1584px 1375px #ce93d8,
    593px 1792px #ce93d8,
    3206px 2018px #ce93d8,
    480px 823px #ce93d8,
    3176px 841px #ce93d8,
    2670px 894px #ce93d8,
    2512px 2009px #ce93d8,
    1934px 129px #ce93d8,
    400px 873px #ce93d8,
    1378px 2010px #ce93d8,
    2762px 378px #ce93d8,
    916px 841px #ce93d8,
    3274px 70px #ce93d8,
    2734px 651px #ce93d8,
    3293px 871px #ce93d8,
    3318px 2157px #ce93d8,
    418px 1319px #ce93d8,
    1022px 311px #ce93d8,
    1625px 1365px #ce93d8,
    1519px 213px #ce93d8,
    2782px 1696px #ce93d8,
    2441px 142px #ce93d8,
    1740px 1581px #ce93d8,
    551px 378px #ce93d8,
    96px 357px #ce93d8,
    3161px 387px #ce93d8,
    2635px 665px #ce93d8,
    500px 121px #ce93d8,
    2758px 87px #ce93d8,
    944px 150px #ce93d8,
    3623px 591px #ce93d8,
    853px 1619px #ce93d8,
    3146px 1819px #ce93d8,
    3541px 750px #ce93d8,
    3702px 430px #ce93d8,
    731px 1679px #ce93d8,
    429px 2048px #ce93d8,
    1629px 361px #ce93d8,
    3143px 1553px #ce93d8,
    764px 214px #ce93d8,
    2734px 1594px #ce93d8,
    3729px 303px #ce93d8,
    3753px 1956px #ce93d8,
    3379px 1949px #ce93d8,
    758px 437px #ce93d8,
    2723px 1081px #ce93d8,
    2263px 392px #ce93d8,
    2195px 1605px #ce93d8,
    1235px 1124px #ce93d8,
    2685px 112px #ce93d8,
    879px 1734px #ce93d8,
    2699px 1530px #ce93d8,
    2508px 1188px #ce93d8,
    2525px 1765px #ce93d8,
    37px 164px #ce93d8,
    3733px 1225px #ce93d8,
    503px 1457px #ce93d8,
    27px 188px #ce93d8,
    250px 1508px #ce93d8,
    1214px 1131px #ce93d8,
    653px 1244px #ce93d8,
    3429px 127px #ce93d8,
    1611px 1635px #ce93d8,
    3086px 663px #ce93d8,
    2881px 2031px #ce93d8,
    3207px 451px #ce93d8,
    3440px 888px #ce93d8,
    1158px 97px #ce93d8,
    1954px 1291px #ce93d8,
    688px 1547px #ce93d8,
    1727px 1783px #ce93d8,
    3736px 2078px #ce93d8,
    2704px 1146px #ce93d8,
    2148px 1485px #ce93d8,
    3534px 1868px #ce93d8,
    2825px 896px #ce93d8,
    365px 1962px #ce93d8,
    2835px 313px #ce93d8,
    1058px 1980px #ce93d8,
    2444px 1699px #ce93d8,
    2368px 1268px #ce93d8,
    510px 1246px #ce93d8,
    3835px 204px #ce93d8,
    1531px 1382px #ce93d8,
    2420px 695px #ce93d8,
    2622px 1804px #ce93d8,
    2492px 1646px #ce93d8,
    2582px 303px #ce93d8,
    2904px 396px #ce93d8,
    526px 670px #ce93d8,
    1401px 1229px #ce93d8,
    842px 514px #ce93d8,
    1044px 737px #ce93d8,
    3258px 402px #ce93d8,
    1593px 1212px #ce93d8,
    1627px 968px #ce93d8,
    2234px 308px #ce93d8,
    1119px 1693px #ce93d8,
    3139px 1278px #ce93d8,
    3581px 1111px #ce93d8,
    68px 1668px #ce93d8,
    2133px 234px #ce93d8,
    3111px 1645px #ce93d8,
    1765px 2132px #ce93d8,
    121px 1992px #ce93d8,
    2005px 717px #ce93d8,
    2001px 1517px #ce93d8,
    3388px 127px #ce93d8,
    2442px 1705px #ce93d8,
    7px 40px #ce93d8,
    1267px 370px #ce93d8,
    1748px 699px #ce93d8,
    1628px 724px #ce93d8,
    790px 2097px #ce93d8,
    1545px 1972px #ce93d8,
    1475px 319px #ce93d8,
    3237px 54px #ce93d8,
    3154px 857px #ce93d8,
    1993px 1614px #ce93d8,
    2588px 299px #ce93d8,
    1283px 783px #ce93d8,
    698px 1056px #ce93d8,
    2309px 1140px #ce93d8,
    762px 1687px #ce93d8,
    1905px 2119px #ce93d8,
    2447px 1596px #ce93d8,
    1295px 1317px #ce93d8,
    2336px 2088px #ce93d8,
    2494px 903px #ce93d8,
    2949px 1770px #ce93d8,
    1649px 1948px #ce93d8,
    2779px 1114px #ce93d8,
    1584px 1357px #ce93d8,
    3469px 1071px #ce93d8,
    821px 654px #ce93d8,
    685px 66px #ce93d8,
    2836px 127px #ce93d8,
    2009px 344px #ce93d8,
    2116px 268px #ce93d8,
    1838px 854px #ce93d8,
    688px 384px #ce93d8,
    2582px 1198px #ce93d8,
    865px 665px #ce93d8,
    3278px 833px #ce93d8,
    3069px 562px #ce93d8,
    262px 925px #ce93d8,
    975px 1554px #ce93d8,
    2651px 1496px #ce93d8,
    3808px 1393px #ce93d8,
    3482px 1215px #ce93d8,
    319px 1801px #ce93d8,
    1443px 867px #ce93d8,
    2000px 1291px #ce93d8,
    2410px 1900px #ce93d8,
    1005px 22px #ce93d8,
    1057px 1408px #ce93d8,
    2027px 180px #ce93d8,
    3389px 133px #ce93d8,
    2473px 2133px #ce93d8,
    2129px 352px #ce93d8,
    1688px 579px #ce93d8,
    2425px 2117px #ce93d8,
    833px 1528px #ce93d8,
    620px 85px #ce93d8,
    588px 1271px #ce93d8,
    2566px 517px #ce93d8,
    2546px 982px #ce93d8,
    1535px 1714px #ce93d8,
    1426px 499px #ce93d8,
    2894px 378px #ce93d8,
    1213px 732px #ce93d8,
    2607px 901px #ce93d8,
    446px 1816px #ce93d8,
    890px 1745px #ce93d8,
    3576px 894px #ce93d8,
    3763px 1409px #ce93d8,
    198px 1474px #ce93d8,
    2756px 214px #ce93d8,
    1571px 814px #ce93d8,
    119px 51px #ce93d8,
    1453px 1844px #ce93d8,
    3410px 1723px #ce93d8,
    2280px 798px #ce93d8,
    1633px 973px #ce93d8,
    1891px 910px #ce93d8,
    491px 2119px #ce93d8,
    1139px 639px #ce93d8,
    1787px 1500px #ce93d8,
    1523px 1815px #ce93d8,
    299px 2041px #ce93d8,
    1133px 1825px #ce93d8,
    261px 1323px #ce93d8,
    252px 979px #ce93d8,
    203px 1805px #ce93d8,
    471px 778px #ce93d8,
    1618px 789px #ce93d8,
    466px 642px #ce93d8,
    56px 1972px #ce93d8,
    3725px 2028px #ce93d8,
    3188px 1690px #ce93d8,
    348px 1678px #ce93d8,
    1623px 958px #ce93d8,
    355px 812px #ce93d8,
    3669px 316px #ce93d8,
    317px 2082px #ce93d8,
    924px 447px #ce93d8,
    2853px 255px #ce93d8,
    1326px 2087px #ce93d8,
    131px 2157px #ce93d8,
    3627px 898px #ce93d8,
    2492px 829px #ce93d8,
    2613px 2096px #ce93d8,
    3420px 910px #ce93d8,
    3776px 184px #ce93d8;
}

.stars4 {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow:
  848px 2011px #ce93d8,
  2061px 1100px #ce93d8,
  3521px 1664px #ce93d8,
  536px 916px #ce93d8,
  996px 1649px #ce93d8,
  2943px 1723px #ce93d8,
  1647px 229px #ce93d8,
  2012px 470px #ce93d8,
  1319px 748px #ce93d8,
  2269px 597px #ce93d8,
  2094px 600px #ce93d8,
  3587px 208px #ce93d8,
  846px 1587px #ce93d8,
  2675px 376px #ce93d8,
  3699px 466px #ce93d8,
  797px 1460px #ce93d8,
  1857px 1140px #ce93d8,
  1343px 2090px #ce93d8,
  1023px 821px #ce93d8,
  1346px 623px #ce93d8,
  1099px 1505px #ce93d8,
  1935px 35px #ce93d8,
  71px 1611px #ce93d8,
  1840px 1331px #ce93d8,
  738px 1719px #ce93d8,
  119px 653px #ce93d8,
  2729px 1063px #ce93d8,
  993px 544px #ce93d8,
  1250px 99px #ce93d8,
  110px 1476px #ce93d8,
  2145px 1756px #ce93d8,
  1444px 1084px #ce93d8,
  3160px 78px #ce93d8,
  2507px 1619px #ce93d8,
  3533px 1136px #ce93d8,
  2781px 1395px #ce93d8,
  951px 457px #ce93d8,
  262px 708px #ce93d8,
  1771px 2026px #ce93d8,
  1206px 2102px #ce93d8,
  2131px 215px #ce93d8,
  1761px 296px #ce93d8,
  3380px 1962px #ce93d8,
  1457px 1956px #ce93d8,
  3259px 1125px #ce93d8,
  2276px 1330px #ce93d8,
  921px 2002px #ce93d8,
  3484px 1594px #ce93d8,
  1873px 914px #ce93d8,
  860px 787px #ce93d8,
  2647px 1297px #ce93d8,
  1871px 1030px #ce93d8,
  1699px 1170px #ce93d8,
  2689px 1135px #ce93d8,
  3396px 1376px #ce93d8,
  115px 954px #ce93d8,
  921px 843px #ce93d8,
  1840px 1535px #ce93d8,
  454px 251px #ce93d8,
  277px 1892px #ce93d8,
  426px 1811px #ce93d8,
  3537px 1709px #ce93d8,
  2421px 1088px #ce93d8,
  1833px 1018px #ce93d8,
  3139px 895px #ce93d8,
  73px 1851px #ce93d8,
  2889px 800px #ce93d8,
  264px 195px #ce93d8,
  3375px 414px #ce93d8,
  2748px 1267px #ce93d8,
  995px 1969px #ce93d8,
  1952px 391px #ce93d8,
  1496px 1225px #ce93d8,
  1841px 537px #ce93d8,
  3187px 1742px #ce93d8,
  961px 1337px #ce93d8,
  1796px 1724px #ce93d8,
  300px 2065px #ce93d8,
  1692px 1278px #ce93d8,
  1839px 107px #ce93d8,
  3323px 475px #ce93d8,
  3746px 1488px #ce93d8,
  3767px 433px #ce93d8,
  2078px 261px #ce93d8,
  3145px 1190px #ce93d8,
  3609px 817px #ce93d8,
  1584px 1375px #ce93d8,
  593px 1792px #ce93d8,
  3206px 2018px #ce93d8,
  480px 823px #ce93d8,
  3176px 841px #ce93d8,
  2670px 894px #ce93d8,
  2512px 2009px #ce93d8,
  1934px 129px #ce93d8,
  400px 873px #ce93d8,
  1378px 2010px #ce93d8,
  2762px 378px #ce93d8,
  916px 841px #ce93d8,
  3274px 70px #ce93d8,
  2734px 651px #ce93d8,
  3293px 871px #ce93d8,
  3318px 2157px #ce93d8,
  418px 1319px #ce93d8,
  1022px 311px #ce93d8,
  1625px 1365px #ce93d8,
  1519px 213px #ce93d8,
  2782px 1696px #ce93d8,
  2441px 142px #ce93d8,
  1740px 1581px #ce93d8,
  551px 378px #ce93d8,
  96px 357px #ce93d8,
  3161px 387px #ce93d8,
  2635px 665px #ce93d8,
  500px 121px #ce93d8,
  2758px 87px #ce93d8,
  944px 150px #ce93d8,
  3623px 591px #ce93d8,
  853px 1619px #ce93d8,
  3146px 1819px #ce93d8,
  3541px 750px #ce93d8,
  3702px 430px #ce93d8,
  731px 1679px #ce93d8,
  429px 2048px #ce93d8,
  1629px 361px #ce93d8,
  3143px 1553px #ce93d8,
  764px 214px #ce93d8,
  2734px 1594px #ce93d8,
  3729px 303px #ce93d8,
  3753px 1956px #ce93d8,
  3379px 1949px #ce93d8,
  758px 437px #ce93d8,
  2723px 1081px #ce93d8,
  2263px 392px #ce93d8,
  2195px 1605px #ce93d8,
  1235px 1124px #ce93d8,
  2685px 112px #ce93d8,
  879px 1734px #ce93d8,
  2699px 1530px #ce93d8,
  2508px 1188px #ce93d8,
  2525px 1765px #ce93d8,
  37px 164px #ce93d8,
  3733px 1225px #ce93d8,
  503px 1457px #ce93d8,
  27px 188px #ce93d8,
  250px 1508px #ce93d8,
  1214px 1131px #ce93d8,
  653px 1244px #ce93d8,
  3429px 127px #ce93d8,
  1611px 1635px #ce93d8,
  3086px 663px #ce93d8,
  2881px 2031px #ce93d8,
  3207px 451px #ce93d8,
  3440px 888px #ce93d8,
  1158px 97px #ce93d8,
  1954px 1291px #ce93d8,
  688px 1547px #ce93d8,
  1727px 1783px #ce93d8,
  3736px 2078px #ce93d8,
  2704px 1146px #ce93d8,
  2148px 1485px #ce93d8,
  3534px 1868px #ce93d8,
  2825px 896px #ce93d8,
  365px 1962px #ce93d8,
  2835px 313px #ce93d8,
  1058px 1980px #ce93d8,
  2444px 1699px #ce93d8,
  2368px 1268px #ce93d8,
  510px 1246px #ce93d8,
  3835px 204px #ce93d8,
  1531px 1382px #ce93d8,
  2420px 695px #ce93d8,
  2622px 1804px #ce93d8,
  2492px 1646px #ce93d8,
  2582px 303px #ce93d8,
  2904px 396px #ce93d8,
  526px 670px #ce93d8,
  1401px 1229px #ce93d8,
  842px 514px #ce93d8,
  1044px 737px #ce93d8,
  3258px 402px #ce93d8,
  1593px 1212px #ce93d8,
  1627px 968px #ce93d8,
  2234px 308px #ce93d8,
  1119px 1693px #ce93d8,
  3139px 1278px #ce93d8,
  3581px 1111px #ce93d8,
  68px 1668px #ce93d8,
  2133px 234px #ce93d8,
  3111px 1645px #ce93d8,
  1765px 2132px #ce93d8,
  121px 1992px #ce93d8,
  2005px 717px #ce93d8,
  2001px 1517px #ce93d8,
  3388px 127px #ce93d8,
  2442px 1705px #ce93d8,
  7px 40px #ce93d8,
  1267px 370px #ce93d8,
  1748px 699px #ce93d8,
  1628px 724px #ce93d8,
  790px 2097px #ce93d8,
  1545px 1972px #ce93d8,
  1475px 319px #ce93d8,
  3237px 54px #ce93d8,
  3154px 857px #ce93d8,
  1993px 1614px #ce93d8,
  2588px 299px #ce93d8,
  1283px 783px #ce93d8,
  698px 1056px #ce93d8,
  2309px 1140px #ce93d8,
  762px 1687px #ce93d8,
  1905px 2119px #ce93d8,
  2447px 1596px #ce93d8,
  1295px 1317px #ce93d8,
  2336px 2088px #ce93d8,
  2494px 903px #ce93d8,
  2949px 1770px #ce93d8,
  1649px 1948px #ce93d8,
  2779px 1114px #ce93d8,
  1584px 1357px #ce93d8,
  3469px 1071px #ce93d8,
  821px 654px #ce93d8,
  685px 66px #ce93d8,
  2836px 127px #ce93d8,
  2009px 344px #ce93d8,
  2116px 268px #ce93d8,
  1838px 854px #ce93d8,
  688px 384px #ce93d8,
  2582px 1198px #ce93d8,
  865px 665px #ce93d8,
  3278px 833px #ce93d8,
  3069px 562px #ce93d8,
  262px 925px #ce93d8,
  975px 1554px #ce93d8,
  2651px 1496px #ce93d8,
  3808px 1393px #ce93d8,
  3482px 1215px #ce93d8,
  319px 1801px #ce93d8,
  1443px 867px #ce93d8,
  2000px 1291px #ce93d8,
  2410px 1900px #ce93d8,
  1005px 22px #ce93d8,
  1057px 1408px #ce93d8,
  2027px 180px #ce93d8,
  3389px 133px #ce93d8,
  2473px 2133px #ce93d8,
  2129px 352px #ce93d8,
  1688px 579px #ce93d8,
  2425px 2117px #ce93d8,
  833px 1528px #ce93d8,
  620px 85px #ce93d8,
  588px 1271px #ce93d8,
  2566px 517px #ce93d8,
  2546px 982px #ce93d8,
  1535px 1714px #ce93d8,
  1426px 499px #ce93d8,
  2894px 378px #ce93d8,
  1213px 732px #ce93d8,
  2607px 901px #ce93d8,
  446px 1816px #ce93d8,
  890px 1745px #ce93d8,
  3576px 894px #ce93d8,
  3763px 1409px #ce93d8,
  198px 1474px #ce93d8,
  2756px 214px #ce93d8,
  1571px 814px #ce93d8,
  119px 51px #ce93d8,
  1453px 1844px #ce93d8,
  3410px 1723px #ce93d8,
  2280px 798px #ce93d8,
  1633px 973px #ce93d8,
  1891px 910px #ce93d8,
  491px 2119px #ce93d8,
  1139px 639px #ce93d8,
  1787px 1500px #ce93d8,
  1523px 1815px #ce93d8,
  299px 2041px #ce93d8,
  1133px 1825px #ce93d8,
  261px 1323px #ce93d8,
  252px 979px #ce93d8,
  203px 1805px #ce93d8,
  471px 778px #ce93d8,
  1618px 789px #ce93d8,
  466px 642px #ce93d8,
  56px 1972px #ce93d8,
  3725px 2028px #ce93d8,
  3188px 1690px #ce93d8,
  348px 1678px #ce93d8,
  1623px 958px #ce93d8,
  355px 812px #ce93d8,
  3669px 316px #ce93d8,
  317px 2082px #ce93d8,
  924px 447px #ce93d8,
  2853px 255px #ce93d8,
  1326px 2087px #ce93d8,
  131px 2157px #ce93d8,
  3627px 898px #ce93d8,
  2492px 829px #ce93d8,
  2613px 2096px #ce93d8,
  3420px 910px #ce93d8,
  3776px 184px #ce93d8;
  animation: animStar 600s linear infinite;
}

.stars4:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow:
  848px 2011px #ce93d8,
  2061px 1100px #ce93d8,
  3521px 1664px #ce93d8,
  536px 916px #ce93d8,
  996px 1649px #ce93d8,
  2943px 1723px #ce93d8,
  1647px 229px #ce93d8,
  2012px 470px #ce93d8,
  1319px 748px #ce93d8,
  2269px 597px #ce93d8,
  2094px 600px #ce93d8,
  3587px 208px #ce93d8,
  846px 1587px #ce93d8,
  2675px 376px #ce93d8,
  3699px 466px #ce93d8,
  797px 1460px #ce93d8,
  1857px 1140px #ce93d8,
  1343px 2090px #ce93d8,
  1023px 821px #ce93d8,
  1346px 623px #ce93d8,
  1099px 1505px #ce93d8,
  1935px 35px #ce93d8,
  71px 1611px #ce93d8,
  1840px 1331px #ce93d8,
  738px 1719px #ce93d8,
  119px 653px #ce93d8,
  2729px 1063px #ce93d8,
  993px 544px #ce93d8,
  1250px 99px #ce93d8,
  110px 1476px #ce93d8,
  2145px 1756px #ce93d8,
  1444px 1084px #ce93d8,
  3160px 78px #ce93d8,
  2507px 1619px #ce93d8,
  3533px 1136px #ce93d8,
  2781px 1395px #ce93d8,
  951px 457px #ce93d8,
  262px 708px #ce93d8,
  1771px 2026px #ce93d8,
  1206px 2102px #ce93d8,
  2131px 215px #ce93d8,
  1761px 296px #ce93d8,
  3380px 1962px #ce93d8,
  1457px 1956px #ce93d8,
  3259px 1125px #ce93d8,
  2276px 1330px #ce93d8,
  921px 2002px #ce93d8,
  3484px 1594px #ce93d8,
  1873px 914px #ce93d8,
  860px 787px #ce93d8,
  2647px 1297px #ce93d8,
  1871px 1030px #ce93d8,
  1699px 1170px #ce93d8,
  2689px 1135px #ce93d8,
  3396px 1376px #ce93d8,
  115px 954px #ce93d8,
  921px 843px #ce93d8,
  1840px 1535px #ce93d8,
  454px 251px #ce93d8,
  277px 1892px #ce93d8,
  426px 1811px #ce93d8,
  3537px 1709px #ce93d8,
  2421px 1088px #ce93d8,
  1833px 1018px #ce93d8,
  3139px 895px #ce93d8,
  73px 1851px #ce93d8,
  2889px 800px #ce93d8,
  264px 195px #ce93d8,
  3375px 414px #ce93d8,
  2748px 1267px #ce93d8,
  995px 1969px #ce93d8,
  1952px 391px #ce93d8,
  1496px 1225px #ce93d8,
  1841px 537px #ce93d8,
  3187px 1742px #ce93d8,
  961px 1337px #ce93d8,
  1796px 1724px #ce93d8,
  300px 2065px #ce93d8,
  1692px 1278px #ce93d8,
  1839px 107px #ce93d8,
  3323px 475px #ce93d8,
  3746px 1488px #ce93d8,
  3767px 433px #ce93d8,
  2078px 261px #ce93d8,
  3145px 1190px #ce93d8,
  3609px 817px #ce93d8,
  1584px 1375px #ce93d8,
  593px 1792px #ce93d8,
  3206px 2018px #ce93d8,
  480px 823px #ce93d8,
  3176px 841px #ce93d8,
  2670px 894px #ce93d8,
  2512px 2009px #ce93d8,
  1934px 129px #ce93d8,
  400px 873px #ce93d8,
  1378px 2010px #ce93d8,
  2762px 378px #ce93d8,
  916px 841px #ce93d8,
  3274px 70px #ce93d8,
  2734px 651px #ce93d8,
  3293px 871px #ce93d8,
  3318px 2157px #ce93d8,
  418px 1319px #ce93d8,
  1022px 311px #ce93d8,
  1625px 1365px #ce93d8,
  1519px 213px #ce93d8,
  2782px 1696px #ce93d8,
  2441px 142px #ce93d8,
  1740px 1581px #ce93d8,
  551px 378px #ce93d8,
  96px 357px #ce93d8,
  3161px 387px #ce93d8,
  2635px 665px #ce93d8,
  500px 121px #ce93d8,
  2758px 87px #ce93d8,
  944px 150px #ce93d8,
  3623px 591px #ce93d8,
  853px 1619px #ce93d8,
  3146px 1819px #ce93d8,
  3541px 750px #ce93d8,
  3702px 430px #ce93d8,
  731px 1679px #ce93d8,
  429px 2048px #ce93d8,
  1629px 361px #ce93d8,
  3143px 1553px #ce93d8,
  764px 214px #ce93d8,
  2734px 1594px #ce93d8,
  3729px 303px #ce93d8,
  3753px 1956px #ce93d8,
  3379px 1949px #ce93d8,
  758px 437px #ce93d8,
  2723px 1081px #ce93d8,
  2263px 392px #ce93d8,
  2195px 1605px #ce93d8,
  1235px 1124px #ce93d8,
  2685px 112px #ce93d8,
  879px 1734px #ce93d8,
  2699px 1530px #ce93d8,
  2508px 1188px #ce93d8,
  2525px 1765px #ce93d8,
  37px 164px #ce93d8,
  3733px 1225px #ce93d8,
  503px 1457px #ce93d8,
  27px 188px #ce93d8,
  250px 1508px #ce93d8,
  1214px 1131px #ce93d8,
  653px 1244px #ce93d8,
  3429px 127px #ce93d8,
  1611px 1635px #ce93d8,
  3086px 663px #ce93d8,
  2881px 2031px #ce93d8,
  3207px 451px #ce93d8,
  3440px 888px #ce93d8,
  1158px 97px #ce93d8,
  1954px 1291px #ce93d8,
  688px 1547px #ce93d8,
  1727px 1783px #ce93d8,
  3736px 2078px #ce93d8,
  2704px 1146px #ce93d8,
  2148px 1485px #ce93d8,
  3534px 1868px #ce93d8,
  2825px 896px #ce93d8,
  365px 1962px #ce93d8,
  2835px 313px #ce93d8,
  1058px 1980px #ce93d8,
  2444px 1699px #ce93d8,
  2368px 1268px #ce93d8,
  510px 1246px #ce93d8,
  3835px 204px #ce93d8,
  1531px 1382px #ce93d8,
  2420px 695px #ce93d8,
  2622px 1804px #ce93d8,
  2492px 1646px #ce93d8,
  2582px 303px #ce93d8,
  2904px 396px #ce93d8,
  526px 670px #ce93d8,
  1401px 1229px #ce93d8,
  842px 514px #ce93d8,
  1044px 737px #ce93d8,
  3258px 402px #ce93d8,
  1593px 1212px #ce93d8,
  1627px 968px #ce93d8,
  2234px 308px #ce93d8,
  1119px 1693px #ce93d8,
  3139px 1278px #ce93d8,
  3581px 1111px #ce93d8,
  68px 1668px #ce93d8,
  2133px 234px #ce93d8,
  3111px 1645px #ce93d8,
  1765px 2132px #ce93d8,
  121px 1992px #ce93d8,
  2005px 717px #ce93d8,
  2001px 1517px #ce93d8,
  3388px 127px #ce93d8,
  2442px 1705px #ce93d8,
  7px 40px #ce93d8,
  1267px 370px #ce93d8,
  1748px 699px #ce93d8,
  1628px 724px #ce93d8,
  790px 2097px #ce93d8,
  1545px 1972px #ce93d8,
  1475px 319px #ce93d8,
  3237px 54px #ce93d8,
  3154px 857px #ce93d8,
  1993px 1614px #ce93d8,
  2588px 299px #ce93d8,
  1283px 783px #ce93d8,
  698px 1056px #ce93d8,
  2309px 1140px #ce93d8,
  762px 1687px #ce93d8,
  1905px 2119px #ce93d8,
  2447px 1596px #ce93d8,
  1295px 1317px #ce93d8,
  2336px 2088px #ce93d8,
  2494px 903px #ce93d8,
  2949px 1770px #ce93d8,
  1649px 1948px #ce93d8,
  2779px 1114px #ce93d8,
  1584px 1357px #ce93d8,
  3469px 1071px #ce93d8,
  821px 654px #ce93d8,
  685px 66px #ce93d8,
  2836px 127px #ce93d8,
  2009px 344px #ce93d8,
  2116px 268px #ce93d8,
  1838px 854px #ce93d8,
  688px 384px #ce93d8,
  2582px 1198px #ce93d8,
  865px 665px #ce93d8,
  3278px 833px #ce93d8,
  3069px 562px #ce93d8,
  262px 925px #ce93d8,
  975px 1554px #ce93d8,
  2651px 1496px #ce93d8,
  3808px 1393px #ce93d8,
  3482px 1215px #ce93d8,
  319px 1801px #ce93d8,
  1443px 867px #ce93d8,
  2000px 1291px #ce93d8,
  2410px 1900px #ce93d8,
  1005px 22px #ce93d8,
  1057px 1408px #ce93d8,
  2027px 180px #ce93d8,
  3389px 133px #ce93d8,
  2473px 2133px #ce93d8,
  2129px 352px #ce93d8,
  1688px 579px #ce93d8,
  2425px 2117px #ce93d8,
  833px 1528px #ce93d8,
  620px 85px #ce93d8,
  588px 1271px #ce93d8,
  2566px 517px #ce93d8,
  2546px 982px #ce93d8,
  1535px 1714px #ce93d8,
  1426px 499px #ce93d8,
  2894px 378px #ce93d8,
  1213px 732px #ce93d8,
  2607px 901px #ce93d8,
  446px 1816px #ce93d8,
  890px 1745px #ce93d8,
  3576px 894px #ce93d8,
  3763px 1409px #ce93d8,
  198px 1474px #ce93d8,
  2756px 214px #ce93d8,
  1571px 814px #ce93d8,
  119px 51px #ce93d8,
  1453px 1844px #ce93d8,
  3410px 1723px #ce93d8,
  2280px 798px #ce93d8,
  1633px 973px #ce93d8,
  1891px 910px #ce93d8,
  491px 2119px #ce93d8,
  1139px 639px #ce93d8,
  1787px 1500px #ce93d8,
  1523px 1815px #ce93d8,
  299px 2041px #ce93d8,
  1133px 1825px #ce93d8,
  261px 1323px #ce93d8,
  252px 979px #ce93d8,
  203px 1805px #ce93d8,
  471px 778px #ce93d8,
  1618px 789px #ce93d8,
  466px 642px #ce93d8,
  56px 1972px #ce93d8,
  3725px 2028px #ce93d8,
  3188px 1690px #ce93d8,
  348px 1678px #ce93d8,
  1623px 958px #ce93d8,
  355px 812px #ce93d8,
  3669px 316px #ce93d8,
  317px 2082px #ce93d8,
  924px 447px #ce93d8,
  2853px 255px #ce93d8,
  1326px 2087px #ce93d8,
  131px 2157px #ce93d8,
  3627px 898px #ce93d8,
  2492px 829px #ce93d8,
  2613px 2096px #ce93d8,
  3420px 910px #ce93d8,
  3776px 184px #ce93d8;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-2000px);
  }
}
