@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("/components/animatedStars.module.css");

.select2-dropdown {
  @apply rounded-b-lg shadow-md;
}

.select2-search {
  @apply border border-gray-300 rounded;
}

.select2-results__group {
  @apply text-lg font-bold text-gray-900;
}

.blur-shadow {
  box-shadow: 6px -8px 10px rgb(250 245 255);
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

:root {
  --scalar-color-1: #121212;
  --scalar-color-2: rgba(0, 0, 0, 0.6);
  --scalar-color-3: rgba(0, 0, 0, 0.4);
  --scalar-color-text: var(--scalar-color-1);

  --scalar-color-accent: #ed0000;

  --scalar-background-1: transparent;
  --scalar-background-2: #f6f5f4;
  --scalar-background-3: #f1ede9;
  --scalar-background-accent: rgba(237, 0, 0, 0.06);
  --scalar-color-background: var(--scalar-background-1);

  --scalar-border-color: rgba(0, 0, 0, 0.08);

  --scalar-radius: 8px;
  --scalar-font: Graphik, sans-serif;
}

.light-mode {
  --scalar-color-accent: #ed0000;
}

.dark-mode {
  --scalar-color-1: rgba(255, 255, 255, 0.81);
  --scalar-color-2: rgba(255, 255, 255, 0.443);
  --scalar-color-3: rgba(255, 255, 255, 0.282);
  --scalar-color-text: var(--scalar-color-1);

  --scalar-color-accent: #ed0000;
  --scalar-background-1: #202020;
  --scalar-background-2: #272727;
  --scalar-background-3: #333333;
  --scalar-background-accent: rgba(237, 0, 0, 0.12);

  --scalar-color-background: var(--scalar-background-1);
  --scalar-border-color: rgba(255, 255, 255, 0.1);
}

.light-mode .sidebar,
.dark-mode .sidebar {
  --scalar-sidebar-background-1: var(--scalar-background-1);
  --scalar-sidebar-item-hover-color: currentColor;
  --scalar-sidebar-item-hover-background: var(--scalar-background-2);
  --scalar-sidebar-item-active-background: var(--scalar-background-2);
  --scalar-sidebar-border-color: var(--scalar-border-color);
  --scalar-sidebar-color-1: var(--scalar-color-1);
  --scalar-sidebar-color-2: var(--scalar-color-2);
  --scalar-sidebar-color-active: var(--scalar-color-2);
  --scalar-sidebar-search-background: var(--scalar-background-2);
  --scalar-sidebar-search-border-color: var(--scalar-border-color);
  --scalar-sidebar-search-color: var(--scalar-color-3);
}

.scalar-api-reference {
  font-family: var(--scalar-font);
  font-size: 16px;
  line-height: 1.6;
  background: var(--scalar-color-background);
  color: var(--scalar-color-text);
}

button,
.scalar-button {
  border-radius: var(--scalar-radius);
}

.scalar-api-reference ::-webkit-scrollbar {
  width: 8px;
}
.scalar-api-reference ::-webkit-scrollbar-thumb {
  background-color: var(--scalar-border-color);
  border-radius: 4px;
}
.scalar-api-reference ::-webkit-scrollbar-track {
  background: transparent;
}

.scalar-api-reference,
.scalar-api-reference .swagger-ui,
.scalar-api-reference .swagger-ui .wrapper,
.scalar-api-reference .swagger-ui .info,
.scalar-api-reference .swagger-ui .responses-wrapper,
.scalar-api-reference .swagger-ui .opblock,
.scalar-api-reference .swagger-ui .opblock .opblock-summary,
.scalar-api-reference .swagger-ui .opblock .opblock-body pre {
  background-color: transparent !important;
  color: var(--scalar-color-text) !important;
}

.scalar-api-reference .swagger-ui .opblock .opblock-body pre {
  background-color: var(--scalar-color-background) !important;
}

#gatewayAPI.light-mode .section-content .scalar-card-header-title{
  color: var(--scalar-color-2);
}
#gatewayAPI.light-mode .section-column .examples .scalar-card.request-card {
  --scalar-background-2: hsl(var(--nextra-primary-hue) var(--nextra-primary-saturation) 39% / .05);
  --scalar-background-3: hsl(var(--nextra-primary-hue) var(--nextra-primary-saturation) 39% / .085);
  --scalar-color-1: #2a2f45;
  --scalar-color-2: rgba(55,65,81,var(--tw-text-opacity));
  --scalar-color-3: rgba(0,0,0,.8);
  --scalar-color-text: var(--scalar-color-1);
  --scalar-scrollbar-color: rgba(0,0,0,.2);
  --scalar-border-color: rgba(0,0,0,.04);
}
#gatewayAPI.light-mode .section-column .sticky-cards .introduction-card {
  --scalar-background-1: hsl(var(--nextra-primary-hue) var(--nextra-primary-saturation) 39% / .05);
  --scalar-background-2: hsl(var(--nextra-primary-hue) var(--nextra-primary-saturation) 39% / .085);
}
#gatewayAPI.light-mode .section-column .examples .scalar-card.request-card .scalar-card-content.scalar-card-header {
  background: hsl(var(--nextra-primary-hue) var(--nextra-primary-saturation) 39% / .085);
}
#gatewayAPI.light-mode .section-container .section-content .section-column .scalar-card {
  --scalar-background-2: hsl(var(--nextra-primary-hue) var(--nextra-primary-saturation) 39% / .05);
  --scalar-background-3: hsl(var(--nextra-primary-hue) var(--nextra-primary-saturation) 39% / .085);
  --scalar-color-2: #2a2f45;
}
#gatewayAPI.light-mode .section-container .section-content .section-column .scalar-card.response-card.bg-b-2[aria-label="Example Responses"] {
  --scalar-background-2: hsl(var(--nextra-primary-hue) var(--nextra-primary-saturation) 39% / .050);
  --scalar-background-3: transparent;
}
#gatewayAPI.light-mode .section-column .examples .scalar-card.request-card::selection {
  background-color: #d8d8d8;
}

#gatewayAPI.light-mode .section-column .examples .scalar-card.response-card .scalar-card-checkbox:hover {
  color: #0f0f0f;
}

#gatewayAPI.light-mode .section-column .examples .response-card .response-description{
  color: var(--scalar-color-2);
}

#gatewayAPI.light-mode .section-column .sticky-cards .scalar-reference-intro-server {
  background-color: hsl(var(--nextra-primary-hue) var(--nextra-primary-saturation) 39% / .05);
}

#gatewayAPI.light-mode .section-column .sticky-cards .scalar-reference-intro-server .items-center {
  color: var(--scalar-color-1);
}

#gatewayAPI.light-mode .scalar-app-layout .relative .custom-scroll .border-transparent .items-center {
  color: var(--scalar-color-2);
}

html.js-focus-visible.light .scalar-app .relative.z-context .rounded{
  --scalar-background-1: #d8d8d8;
  --scalar-background-2: #f6f5f4;
  --scalar-background-3: #f6f5f4;
  --scalar-color-1: #2a2f45;
  --scalar-color-2: #757575;
  --scalar-color-3: #8e8e8e;
  --scalar-color-text: var(--scalar-color-1);
  --scalar-scrollbar-color: #757575;
}
html.js-focus-visible.light .scalar-app .relative.z-context .rounded .shadow-border {
  border: 1px solid rgba(0,0,0,.08);
}
